<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE FINALS</title>
    <link rel="stylesheet" href="static/header.css">
</head>
<body>
    <header>
        <div class="header">
            <a href=/home>
                <img src="static/icon/THE_FINALS_Logo_Horizontal_White.png" alt="The Finals Logo" style="width:auto;  height:40px; margin:15px;">
            </a>
            <nav class="nav-links">
                <a href="/home" class="nav-link">HOME</a>
                <a href="/merch" class="nav-link">MERCH</a>
                <a href="/news" class="nav-link">NEWS</a>
                <a href="/contact" class="nav-link">CONTACT</a>
                <img src="static/icon/profile.png" alt="The Finals Logo" style="width:auto;  height:40px; margin:15px;">
            </nav>
        </div>
    </header>

    <div class="text_bar">
        <img src="static/start.png" style="width: 100%; height:auto">
        <h1 class="text_bar">Hello</h1>
    </div>
    

</div>
</body>
</html>